<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/styles/semantic-dist/semantic.css}" rel="stylesheet" />
    </head>
    <body>

        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Docteur</div>
                <div class="menu">
                    <a class="item" href="ajoutdocteur">Add a doctor</a>
                    <a class="item" href="docteurlist">View list of doctors</a>
                </div>
            </div>
    </body>
</html>
